<h2>New user!</h2>

<%= render 'form' %>

<%= link_to 'Cancel', users_path, :class => 'btn btn-large btn-danger' %>

<div><br /></div>
<p>As you can see, the navigation is a little funky here. Stay with me! The back button takes you to the index action, so you can see all the users you've added. </p>

